# Ignore Python bytecode and cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/

# Ignore model and vectorizer files
spam_detector_model.pkl
spam_detector_vectorizer.pkl

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore Docker-related files
*.dockerignore
